.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Assets/wallpapers/viktor-talashuk-o8qgRXn2N-E-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.form {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  background-color: #000;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.25);
  width: 50vw;
  max-width: 50rem;
}

.form input {
  border: none;
  width: 100%;
  padding: 1.6rem 1rem;
  margin-bottom: 1rem;
  background-color: inherit;
  font-size: 1.8rem;
  color: #fff;
}

.form button {
  border: none;
  width: 100%;
  padding: 1.6rem 1rem;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}

.form button:hover {
  color: #000;
  /* background-color: #fff; */
  /* Fill In */
  box-shadow: inset 0 0 0 2em #fff;
  /* Fill Up */
  /* box-shadow: inset 0 -3.5em 0 0 #fff; */
  /* Slide */
  /* box-shadow: inset 50rem 0 0 0 #fff; */
}

.loading-view {
  height: 100vh;
  width: 100vw;
  color: #000;
  background-color: #fff;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
