.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  border: none;
  border-radius: 1000px;

  font-size: 1.8rem;
  font-weight: 500;
  /* padding: 1.8rem 2.6rem; */

  color: #333;
  background-color: #fff;
  /* box-shadow: 1px 1px 10px #00000017; */
}

.header-button:hover {
  cursor: pointer;
}

.open svg {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.2rem;

  border: none;
  border-radius: 1000px;

  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.8rem 2.6rem;

  color: #333;
  background-color: #fff;
  box-shadow: 1px 1px 10px #00000017;

  opacity: 1;
  width: 12rem;
  transition: all 1s;
  overflow: hidden;
}

.nav-open {
  width: 36rem;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

/* .nav ul li, */
.nav ul {
  /* opacity: 0;
  visibility: hidden; */
  display: none;
  width: 0;
  transition: all 1s 0.5s;
}

/* .nav-open ul li, */
.nav-open ul {
  /* opacity: 1;
  visibility: visible; */
  display: flex;
  width: 100%;
}
